.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Barra-de-navegação Barra-de-navegação Barra-de-navegação"
    "Produtos Produtos Produtos"
    "rodapé rodapé rodapé";
}

.Barra-de-navegação { grid-area: Barra-de-navegação; }

.Produtos { grid-area: Produtos; }

.rodapé { grid-area: rodapé; }
